<section>
    <div class="contain">
	<div class="congrats" style="padding-top: 20px;">
		<h1>Order Placed Seccesfully</h1>
		
		<div class="text" style="margin-top: 22px;">
            
		<p>TANKYOU</p> 
       
			<p>VISIT AGAIN</p>
			</div>
		<a href="/orders" class="btn btn-primary" style="margin-top: 25px;">ORDER HISTORY</a>
	</div>
    
</div>
</section>
<style>
    body{
	width:100%;
	height:100%;
	
}
.contain{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: linear-gradient(90deg,#189086,#2f8198);
background-image: linear-gradient(to bottom right,#02b3e4,#02ccba);	
}

.done{
	width:100px;
	height:100px;
	position:relative;
	left: 0;
	right: 0;
	top:-20px;
	margin:auto;
}
.contain h1{
	font-family: 'Julius Sans One', sans-serif;
	font-size:1.4em;
	color: #9cce98;
}

.congrats{
	position:relative;
	left:50%;
	top:50%;
	max-width:800px;	transform:translate(-50%,-50%);
	width:50%;
	min-height:300px;
	max-height:900px;
	border:2px solid white;
	border-radius:45px;
	    box-shadow: 12px 15px 20px 0 rgba(46,61,73,.3);
    background-image: linear-gradient(to bottom right,#02b3e4,#02ccba);
	background:rgb(40, 69, 87);
	text-align:center;
	font-size:2em;
	color: #32c0c3;
}

.text{
	position:relative;
	font-weight:normal;
	left:0;
	right:0;
	margin:auto;
	width:80%;
	max-width:800px;

	font-family: 'Lato', sans-serif;
	font-size:0.8em;

}
</style>